:root {
  --color-text: #f4f4f4;
}

body {
  min-height: 100vh;
  background-color: black;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex: 1;
  height: 95%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

h1 {
  font-size: 3.2rem;
  color: var(--color-text);
}

img {
  width: 64px;
  height: 64px;
}

img:hover {
  animation: swing 2s ease-in-out infinite;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(-15deg);
  }
  45% {
    transform: rotate(15deg);
  }
  60% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

button {
  background-color: transparent;
  border: 4px solid var(--color-text);
  border-radius: 10px;
  padding: 5px;

  font-size: 1.2rem;
  color: #f4f4f4;

  cursor: pointer;
}

button:hover {
  background-color: rgb(34, 34, 34);
  border-color: #b6b6b6;
}

footer {
  display: flex;
  justify-content: center;

  color: var(--color-text);
  font-size: 1.6rem;
}

.iconsCopy {
  color: var(--color-text);
  position: fixed;
  right: 0;
  bottom: 0;

  font-size: 0.8rem;
}
